@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a3b2b; /* noir-green */
  --foreground: #f4eedc; /* noir-paper */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fdfbf7;
    --foreground: #111827;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
